/* *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  height: 100vh;
  background: linear-gradient(-45deg, white, crimson, rgb(173, 20, 220), white);

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
/* .container {
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
} */

.container {
  display: flex;

  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
}
#newList {
  /* position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  flex-direction: row;
  align-items: center;
  display: flex;
}

#newList input {
  width: 70%;
  width: 70%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
#newList input:focus {
  outline: none;
  border-color: #8052ec;
  background: yellow;
}

#newList button {
  position: relative;

  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: green;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-left: 6px;
}
#tasks {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

  position: relative;
}

.task {
  background-color: #ffffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.task button {
  background-color: #8052ec;
  color: #ffffff;
  height: 100%;
  width: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.completed {
  text-decoration: dashed underline overline line-through red;
}

/*keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*END keyframes */

/* ////////layout design */
/* position: relative; */
/* display: flex;

background-color: #ffffff;
padding: 30px 20px;
border-radius: 5px;
box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
flex-direction: row;
align-items: center; */

/* //////container layout design */
/* width: 40%; */
/* min-width: 150px; */
/* .container {
    display: flex;
   
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    flex-direction: column;
} */
